#main
{
height:500px;
width:700px;
border:groove;
background:linear-gradient(to right,#ecedfc,#c8e0de);
border-radius:10px;
position:absolute;
left:30%;
top:10%;
}
#wall
{
height:266px;
width:20px;
background:#0033CC;
border-radius:2px;
position:absolute;
}
.word{
height:25px;
width:255px;
background:green;
text-align:center;
font-size:1em;
color:white;
border-radius:10px;
transform: rotate(0deg);
position:absolute;
}
#gm_over{
height:100px;
width:200px;
font-size:24px;
font-weight:bold;
border:groove;
border-radius:5px;
background-color:#9999CC;
position:absolute;
}
#scr_brd
{
height:500px;
width:250px;
border-radius:5px;
font-size:30px;
font-weight:bold;
position:absolute;
left:450px;
}
#wrd_status{
height:60px;
width:700px;
font-size:36px;
font-weight:700;
text-align:center;
position:absolute;
left:-50px;
top:445px;
}
#history{
height:414px;
width:230px;
border:thin;
text-align:center;
font-size:24px;
position:absolute;
left:466px;
top:85px;
}